<footer class="site-footer">
    {{!-- you can remove it --}}
        <section class="poweredby ghost">
            Proudly published with <a href="https://ghost.org">Ghost</a>
        </section>
        <section class="poweredby px-themes">
            © <span id="currentYear"></span> António Regadas <a class="subscribe-button" href="{{@blog.url}}/rss/"><i class="fa fa-rss"></i></a> <br>
        </section>
    {{!-- remove it --}}
</footer>